<div class="container">
  <% @courses.each do |course| %>
    <div class="feedback-card">
      <div class="feedback-course-details d-flex w-90 justify-content-between">
        <h5><%= course.material.name %></h5>
        <p><%= course.user %></p>
      </div>
      <div class="feedback-content">
        <% if @user.left_a_feedback?(course) %>
          <%= @feedbacks.select { |feedback| feedback.course == course }.first.comment %>
        <% else %>
          <%= render 'form', feedback: @feedback %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
