<div class="container-cards-student-mr mt-5">
  <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
    <div class="stackedcards-container">

      <% @flashcards.each do |flashcard| %>

        <div class="card-item">
          <div class="d-flex flex-column align-items-center front-flashcard">
            <img class="icon-question-flashcard mt-5" src="https://picsum.photos/201/300" />
            <div  class="question-flashcard mt-5">
              <p><%= flashcard.question %></p>
            </div>
            <form class='flashcard-form'>
              <textarea class="form-control" id="user_input_<%= flashcard.id %>" autofocus="" rows="4" placeholder="Enter your answer here (alt + enter to flip card)"  id="user_input"  type="text" name="message">
              </textarea>
            </form>
            <label for="card1" class="button-submit-flashcard mt-5" aria-hidden="true" >
                Check Answer
            </label>
            <div class="hidden-answer mt-5 no-show">
              <p><%= flashcard.answer %></p>
            </div>

          <div class="global-actions mt-5">
            <div class="left-action" data-swipe="0"><%= link_to 'Left', students_session_user_answers_path(session_id: params[:id], flashcard_id: flashcard.id, output: false), method: 'post', remote: true %></div>
            <div class="top-action" style="display:none;">Top</div>
            <div class="right-action">Right</div>
          </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
    <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
    <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
  </div>


</div>
