// Specific CSS for your home-page
body {
  background-color: $sherpa-light-violet;
}

.home-container {
  width: 95%;
  margin: 16px auto;
  padding: 0 0 32px 0;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  border-radius: 4px;
}

.home-spacer {
  height: 36em;
}

.home-demo-booking {
  height: 18em;
}

.home-content-teachers,
.home-content-students {
  display: flex;
  justify-content: space-around;
  height: 45%;
  width: 85%;
  margin: 5em auto;
}

.home-content-card {
  height: 100%;
  width: 40%;
  background: white;
  border-radius: 4px;
  color: black;
  padding: 32px;
  position: relative;
  h5 {
    font-weight: bolder;
    width: 60%;
    margin-bottom: 32px;
    font-size: 20px
  }
  p {
    width: 90%;
    font-size: 18px;
  }
  img {
    position: absolute;
    top: -50px;
    right: 30px;
  }
}

.card-shadow-right {
  box-shadow: 30px 30px 5px 0px rgba(0,0,0,0.1);
}

.card-shadow-left {
  box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.1);
}

.highlight-orange {
  background: linear-gradient(180deg, rgba(255,255,255,0) 45%, $sherpa-orange 45%);
}

.highlight-blue {
  background: linear-gradient(180deg, rgba(255,255,255,0) 45%, $sherpa-dark-blue 45%);
}

.home-demo-booking {
  margin: 64px 0 32px 0;
}

.booking-flexbox {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

