<div class="card-global-course-show">
    <div class="card-course-show animated fadeIn">
      <div class="card-course-symbol">
        <i class="far fa-window-restore"></i>
      </div>
      <div class="card-course-text card-course-back-color">
        <div class="card-course-body">
          <p>There is a good progression for this class, 80% flashcards done</p>
        </div>
        <div class="card-course-footer">
          <p id="card_course_class">Term. S2</p>
        </div>
      </div>
    </div>

    <div class="card-course-show animated fadeIn">
      <div class="card-course-symbol">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="card-course-text card-course-back-color">
        <div class="card-course-body">
          <p>Good activity on the forum, every student sent at least one message</p>
        </div>
        <div class="card-course-footer">
          <p id="card_teacher_class">Term. S2</p>
        </div>
      </div>
    </div>
</div>
