<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Tom est un élève très turbulent, il veut devenir footballeur mais ne sait pas faire une passe</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">TS4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
