

<div class="card-class-dashboard-student-global animated fadeIn">
  <% @new_course_students.first(4).each do |student| %>
    <div class="card-class-dashboard-student">
      <div class="card-class-dashboard-student-name">
        <%= student.first_name%>
      </div>
      <div class="card-class-dashboard-student-photo">
        <%= image_tag student.picture_url, alt: "card image", class: "img-fluid #{student.border_color(@material)}" %>
      </div>
    </div>
  <% end %>
</div>



