<%= link_to "Generate Notifications", flashcards_notifications_path %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Maxence must understand: DON'T DO SCAFFOLDS!</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Term. S2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Tom wants to become an intern but this is not a job</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Term. S2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Augustin was faking a sickness to fly to Thailand</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Term. L1</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Ambroise should make a choice: ping-pong or code. Because right now, he sucks at both</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Sec. 1</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Edwin has some serious problem to do his flashcards, he needs more attention</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Perm. ES3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-teacher-show animated fadeIn">
        <div class="card-teacher-symbol">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="card-teacher-text card-teacher-back-color">
          <div class="card-teacher-body">
            <p>Marc has done on average 30% less flashcards than other students</p>
          </div>
          <div class="card-teacher-footer">
            <p id="card_teacher_class">Prem ES.3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
