<div class="card-global-review-show">
  <div class="card-review-show animated fadeIn">
    <div class="card-review-text card-review-back-color">
      <div class="card-review-header">
        <p>Simon Chrétien</p>
      </div>
      <div class="card-review-content">
        <p id="card_review_class">It was a very interresting class. I'd like myself to become a teacher sooner or later.</p>
      </div>
    </div>
  </div>

  <div class="card-review-show animated fadeIn">
    <div class="card-review-text card-review-back-color">
      <div class="card-review-header">
        <p>Nicolas Hild</p>
      </div>
      <div class="card-review-content">
        <p id="card_teacher_class">I don't understand why I'm the only one who likes css</p>
      </div>
    </div>
  </div>
</div>
