<div class="card-class-dashboard-student-global">
  <div class="card-class-dashboard-student">
    <div class="card-class-dashboard-student-name">
      <h1>Nad</h1>
    </div>
    <div class="card-class-dashboard-student-photo">
      <img src="https://previews.123rf.com/images/triken/triken1608/triken160800029/61320775-homme-photo-de-profil-avatar-avatar-de-l-utilisateur-par-d%C3%A9faut-invit%C3%A9-avatar-simplement-la-t%C3%AAte-humain.jpg" alt="photo profil">
    </div>
  </div>
</div>
