
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="chart-teacher-show">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>

