<div class="row chart-teacher-show-display">
  <% @divisions.each do |division| %>
     <div class="col-sm-12 col-md-4 col-lg-3">
       <%= link_to teachers_course_path(1) do %>
       <div data-division= "<%= division.name %>"class="chart-teacher-show">
         <canvas class="myCharts"></canvas>
       </div>
     </div>
    <% end %>
  <% end %>
</div>
