<div class="home-footer">
  <div class="newsletter-flexbox">
    <div class="subscribe-invitation">
      <p><span class="highlight-blue">Subscribe to our newsletter</span></p>
      <%= cl_image_tag("email_y5teks", width: 80, height: 80, crop: :fill) %>
    </div>
    <div class="email-newsletter-form">
      <input type="text" placeholder="example@gmail.com" class="input-mail-newsletter">
      <input type="submit" class="submit-mail-newsletter" value="Submit">
    </div>
  </div>
  <ul class="metalinks">
    <li>About Us</li>
    <li>Contact</li>
    <li>Careers</li>
    <li>Disclaimer</li>
  </ul>
  <div class="social-medias-logos">
    <a href="#">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
    <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
