<div class="row mr-0">
  <div class="col-1">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><div class="icon-box"><i class="fas fa-tachometer-alt navbar-icon"></i></div></a>
      <a class="nav-link" id="v-pills-students-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-user-graduate navbar-icon"></i></a>
      <a class="nav-link" id="v-pills-feedbacks-tab" data-toggle="pill" href="#v-pills-feedbacks" role="tab" aria-controls="v-pills-feebacks" aria-selected="false"><i class="fas fa-star navbar-icon"></i></a>
      <a class="nav-link" id="v-pills-forum-tab" data-toggle="pill" href="#v-pills-forum" role="tab" aria-controls="v-pills-forum" aria-selected="false"><i class="fas fa-comments navbar-icon"></i></a>
      <div class="slide-in"></div>
    </div>
  </div>
  <div class="col-11">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-dashboard-tab"><%= render 'teachers/courses/course_dashboard'%></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><%= render 'teachers/students/list'%></div>
      <div class="tab-pane fade" id="v-pills-feedbacks" role="tabpanel" aria-labelledby="v-pills-feedbacks-tab"> <%= render 'reviews/teacher_reviews' %></div>
      <div class="tab-pane fade" id="v-pills-forum" role="tabpanel" aria-labelledby="v-pills-forum-tab"><%= render 'forums/conversation'%></div>
    </div>
  </div>
</div>



