<div class="container-teacher-show">
  <div class="notifications-title-bar">
    <h1 class="font-weight-bold"><span class="highlight-orange">Notifications</span></h1>
    <%= link_to "Generate Notifications", flashcards_notifications_path %>
  </div>
  <div class="cards-teacher-show">
    <%= render 'shared/card_teacher_show' %>
  </div>
  <div>
    <h1 class="font-weight-bold"><span class="highlight-orange">Classes</span></h1>
    <%= render 'shared/chart_dougnhut' %>
  </div>
</div>

