<div class="container mt-5">
  <h1>I'm the students list of division <%= params[:id] %> </h1>

    <%= link_to 'Student individual profile', teachers_course_student_path(1,9), class: "btn btn-primary" %>

</div>
