<div class="row mr-0">
  <div class="col-1">
    <%= render 'shared/navbar_left' %>
  </div>
  <div class="col-11">
    <div id="root1" data-students="<%= @new_course_students.to_json %>" data-course="<%= @course.id.to_json %>"></div>
  </div>
</div>
