<div class="home-container">
  <div class="sherpa_home_banner">
    <div class="sherpa_home_banner_head">
      <div class="sherpa_logo_banner">
        <%= cl_image_tag("Vector_Sherpa_obvxs9", width: 120, height: 150, crop: :fill) %>
      </div>
      <div class="sherpa_home_navbar">
        <ul class="home_navbar_buttons">
          <a href="#"><li>Teachers</li></a>
          <a href="#Students"><li>Students</li></a>
          <a href="#"><li>Product</li></a>
          <a href="#"><li>Customers</li></a>
          <a class="nav-link home-navbar-login" href="/users/sign_in">
            <li>Log in</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="home-banner-text">
      <h1>Bring all students atop the learning curve</h1>
      <p>Get your institution onboarded on Sherpa today and offer your students a revolutionarily personalized learning experience. Interact with your different classes and improve your lessons thanks to our AI-powered suggestions.</p>
    </div>
    <div class="home-content-teachers" href="#teachers">
      <div class="home-content-card card-shadow-left">
        <h5>Your new digital assistant</h5>
        <p>Spend more time focusing on your lessons, less on analysing each student’s understanding. Sherpa helps you bring all your classes to unreachable summits.</p>
      </div>
      <div class="home-content-card card-shadow-right">
        <h5>Everything to know about your classes at a glance</h5>
        <p>Sherpa helps you easily understand your classes’ behaviour and reactions to your lessons to adapt to their specificities.</p>
      </div>
    </div>
    <div class="home-content-students" href="#students">
      <div class="home-content-card card-shadow-left">
        <h5>Engage with all your students</h5>
        <p>Thanks to your Sherpa Forum, discuss chapters of your lessons with your students, answer all secret questions and encourage pair teaching.</p>
      </div>
      <div class="home-content-card card-shadow-right">
        <h5>Adapt to everyone’s pace</h5>
        <p>Adjust your lessons to your students’ difficulties and insure no one is left behind thanks to Sherpa’s AI powered suggestions.</p>
      </div>
    </div>
  </div>
</div>




























