.buddy-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.buddy-profile {
  display: block;
  margin: 5px;
}

.buddy-list {
  display: flex;
  flex-wrap: wrap;
}

.buddies-card {
  display: flex;
  padding: 15px;
  margin: 10px;
  background: rgba(270,270,270,0.4);
  border-radius: 4px;
}
