.card-teacher-show {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 8px;
  height: 140px;
  flex: row;
}

.card-global-teacher-show {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 38em;
  margin-top: 30px;
  h1 {
    color: rgba(0, 0, 0, 0.7);
    padding: 5px 0px 0px 5px;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
  }
}

.card-teacher-symbol {
  border-radius: 15px 0 0 15px;
  padding: 3px;
  height: 100%;
  width: 60%;
  font-size: 40px;
  color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(79, 42, 205, 0.1);
}

.card-teacher-back-color {
  background-color: #4F2ACD;
}

.card-teacher-text {
  padding: 10px;
  font-size: 18px;
  border-radius: 0px 15px 15px 0px;
  align-content: center;
  width: 150%;
  p {
    margin: 0 0 3px 0;
    color: white;
  }
}

.card-teacher-footer {
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  margin-right: 7px;
  border-top: 0.5px solid grey;
  height: 20%;
  p {
    padding: 5px 0 5px 0;
  }
}

.card-teacher-body {
  height: 80%;
}

.cards-teacher-show {
  border-bottom: 0.5px solid grey;
  width: 90%;
  margin: auto;
  height: 65%;
}

// @media (max-width) {}
