

.btn-go-back {
    background-color:rgba(79, 42, 205, 0.3) ;
    border-radius: 5px;
    margin:auto;
    padding: 5px;
}


.fa-calculator{
color: white;
margin-left: 20px;
}


.flashcard-game-card{
  background: rgba(79, 42, 205, 0.8);
  border-color: white;
  border-style: outset;
  border-radius: 15px;
  border-spacing: 4px;
  width: 500px;
  height: 250px;

}



.flashcard-question{
  color: white;
  padding-left:5px;
}


.mdi-refresh{
  color: white;
  padding-right:5px;
}


.btn-turn-around{
    background-color: rgb(200,200,200);
    border-radius: 5px;
    padding: 5px;

}
