.home-footer {
  height: 18em;
  border-radius: 0 0 4px 4px;
  padding: 32px;
  background: rgb(14,21,58);
  background: linear-gradient(0deg, rgba(14,21,58,1) 0%, rgba(79,42,205,1) 100%);
  ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 0;
    };
    li {
      display: inline;
      margin: 0 16px;
      font-size: 16px;
    }
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
}

.subscribe-invitation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  p {
    margin-right: 32px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.email-newsletter-form {
  display: flex;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.submit-mail-newsletter {
  padding: 8px 20px;
  margin-left: 16px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
}

.input-mail-newsletter {
  padding: 8px 20px;
  margin-right: 16px;
  background: transparent;
  border: 2px solid white;
  &::placeholder {
    color: white;
  };
  color: white;
  border-radius: 3px;
}

.newsletter-flexbox {
  width: 100%;
  margin: 0 auto 32px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.metalinks {
  margin: 40px auto;
  color: white;
}

.social-medias-logos {
  width: 80%;
  margin: 28px auto;
  display: flex;
  justify-content: center;
  font-size: 32px;
  i {
    margin: 0 32px;
    color: $sherpa-orange;
  };
}
