.message-history {
  background: white;
  height: 50vh;
  width: 100%;
  border-radius: 5px;
  overflow: scroll;
}

.message_content {
  width: 85%;
}

.btn-message-sent {
  padding: 2px 7px;
  background-color: $sherpa-orange;
  border-radius: 20px;
  color: white;
  &:hover {
    color: white;
  }
}

.btn-message-received {
  padding: 2px 7px;
  background-color: $sherpa-violet;
  border-radius: 20px;
  color: white;
  &:hover {
    color: white;
  }
}

.mobile_message > .message_content {
  width: 100%
}

#mobile-history {
  height: 60%;
}
.container-forum-mobile {
  padding: 0 10px 0 10px;
  height: 70vh;
}
