@keyframes slidetoenter {
    0% {
        transform: translateX(-70px);
    }

    100% {
        transform: translateX(0px);
    }
}

// TOP NAVBAR

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-sherpa {
  background: rgba(79, 42, 205, 1);
  color: rgba(255, 255, 255, 0.6);
  // font-family: 'Source Sans Pro' ;

  .nav-link{
    border-style: solid;
    border-width: 1.5px;
    border-color: transparent;
  }

}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    border-bottom-color: white ;
  }
}


// LEFT NAVBAR

#v-pills-tab {
  height: 91vh;
  animation: slidetoenter 0.4s;

  .nav-link {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    border-radius: 3px;
    // box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              // 3px 3px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      // box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
      box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);

        &.fas {
          transform: scale(0.95);
        }
    }
  }
}

// .icon-box {
//         width: 60px;
//         height: 60px;
//         background: #ebf5fc;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
//               3px 3px 5px rgba(0, 0, 0, 0.1);
//         border-radius: 10px;
//       }


.navbar-icon {
  font-size: 24px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  // box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    &.fas {
      transform: scale(0.95);
    }
}

.avatar-with-notification {
  position: relative;
  color: transparent;
}

.notification-count {
  position: absolute;
  top: -3px;
  right: -3px;
  padding: 0px 4px;
  background-color: red;
  color: white;
  margin: 0px;
  font-size: 12px;
  border-radius: 2px;
}

.notification-avatar {
  position: absolute;
  top: 0px;
  right: 0px;
}

