.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-sherpa {
  background: linear-gradient(150deg, rgba(79, 42, 205, 1),rgba(14, 20, 58, 1));
}
