.navbar-left{
  height:91vh;
  background: transparent;
  flex-direction: column;
}

  .navbar-left a:hover {
    text-decoration: none;
  }

.btn-nav-left{
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
  border-radius: 3px;
  width:100%;

  &:hover {
      box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
      text-decoration: none;
        &.fas {
          transform: scale(0.95);
        }
    }
}

.btn-actif{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
    &.fas {
      transform: scale(0.95);
    }
}

.navbar-icon {
  font-size: 24px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.container-fluid{
  padding: 0;
}
