  <%= render 'shared/navbar_left' %>
  <div id='click_on_student_list' data-click="<%= @click_student_list %>"></div>
  <div id='click_on_forum' data-click="<%= @click_forum %>"></div>
  <div id='click_on_feedback_list' data-click="<%= @click_feedback_list %>"></div>
