<div class="container mt-5 d-flex justify-content-around">
  <div class="row">
  <% @levels.each do |level| %>
    <div class="col-3">
      <h2 class="mb-3"><%= level %></h2>
      <% @teacher.courses.each do |course| %>
      <% if course.division.level == level %>
      <%= link_to course.material.name, material_path(course.material), class: "material-card" %>
      <% end %>
      <% end %>
    </div>
  <% end %>
  </div>

</div>
